@{
    ViewBag.Title = "Pallindrome";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Pallindrome</h2>
<form action="/Example/Pallindrome" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Integer">Integer</label>
            <input type="number" class="form-control" id="Integer" name="Integer" placeholder="Integer">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Pallindrome</button>
</form>

